version: '3.0'

services:

  postgres:
    image: postgres:14-alpine
    env_file:
      - ./backend/.env
    ports:
      - '5432:5432'
    volumes:
      - ./postgresql/dumps:/code/dumps
      - ./postgresql/data:/var/lib/postgresql/data

  web:
    build:
      context: ./backend
    command: sh -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn --bind 0.0.0.0:8000 conf.wsgi:application"
    volumes:
      - static_volume:/src/staticfiles
      - media_volume:/src/media
    env_file:
      - ./backend/.env
#    command: sh -c "/code/run.sh"
    ports:
      - '8000:8000'
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - web
    restart: always
    expose:
      - "80"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"  # Открываем порт для внешнего доступа
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
      - static_volume:/src/staticfiles
      - media_volume:/src/media
    depends_on:
      - web
      - frontend

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: /bin/sh -c "certbot certonly --webroot -w /var/www/certbot --email dmlysov37@gmail.com --agree-tos --no-eff-email -d startuyivanovo.ru -d www.startuyivanovo.ru"

  certbot-renew:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: /bin/sh -c "certbot renew --webroot -w /var/www/certbot && nginx -s reload"

volumes:
  static_volume:
  media_volume: